<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desafiolatam.planificadordeturnos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="planificadordeturnos.views.HomeActivity"
            android:label="@string/shifts"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="planificadordeturnos.views.DetailShiftActivity"
            android:label="@string/title_activity_detail_shift"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="planificadordeturnos.views.ShowLeadsActivity"
            android:label="@string/title_leads_activity"
            />
        <activity android:name="planificadordeturnos.views.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="planificadordeturnos.views.CreateEditShiftActivity"></activity>
    </application>

</manifest>